# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java\THỰC_HÀNH_CUỐI_MODUL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
